.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-color: var(--preto);
}

.footer img {
    width: 168px;
    height: 40px;
}